<h1>About</h1>

<section class='about'>
  <h2>How to use this</h2>
  <p>
    This site attempts to display data in a useful format that has been captured as daily totals by skill.  The <strong>Home</strong> displays the top <%= SkillTotal.DEFAULT_SKILL_COUNT %> by the number of total listings with that skill associated with it.  The <strong>Skills</strong> page lists the skills sorted by the total numbe of job listings for that skill.  The <strong>Daily Skill Totals</strong> page lists the totals by day per skill.  The <strong>Bar Chart</strong> data shows you the combined totals for the skills.  The <strong>Line Chart</strong> shows you the daily totals for the skills.
  </p>
  <br />

  <h2>Why I created this</h2>
  <p>
    This site displays the job requirement information posted online* and displays it in a useful manner.  I decided to do this as I want to expand my career at the moment and I wanted to see what is useful now, and what skills are trending.  In books like the <strong> Passionate Programmer: Creating a Remarkable Career</strong> it speaks intillegently about investing wisely in yourself, and I decided to look at job listings to see what is exactly being asked for at the moment.  
  </p>
  <p>
    One skill that I wanted to improve was my exprience with MVC websites, as well as a dynamic language such as Ruby or Python.  So I decided upon Rails, and this is the first site I have built after running through the <a href='ruby.railstutorial.org/ruby-on-rails-tutorial-book'>Rails Tutorial</a> by Michael Hartl (which I completly recommend).  So while I learned rails I wrote a ruby script to count the number of times a skill was listed using <a href='nokogiri.org'>Nokogiri</a>.  
  </p>
  <p>
    *currently this only uses one site data which is careers 2.0.  
  </p>
  <br />
  <h2>About me</h2>
  <p>I am a web developer and father of 2 based out of the Chicago area.  
  </p>
</section>