<footer class='footer'>
    <small>
        <a href="http://developerskills.herokuapp.com/">
            Developer Skills</a>
        by Andy Meyers.

        Please share with your friends!
    </small>
    <nav>
        <ul>
            <li><div class="fb-like" data-href="http://developerskills.herokuapp.com/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div></li> 
            <li><a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a></li>
            <li><div class="g-plusone" data-annotation="inline" data-width="300"></div></li>

        </ul>
    </nav>
</footer>

<!-- Place this tag after the last +1 button tag. -->
<script type="text/javascript">
(function(global){
    global.App = global.App || {};
    global.App.social = function(){

      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/platform.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();        

    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-39576867-2', 'developerskills.herokuapp.com');
    ga('send', 'pageview');

    };

    // facebook
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    //twitter
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
}(this));

$(document).ready(App.social);
$(document).on('page:load', App.social);

</script>