<h2>Top trending skills</h2>
<p>Graph that charts the top 10 skills by percent that have increased in # of job postings.</p>
<%= line_chart top_trends_charts_path(params) %>
<h2>Bottom trending skills</h2>
<p>Graph that charts the bottom 10 skills by percent that have decreased in # of job postings.</p>
<%= line_chart bottom_trends_charts_path(params) %>